.dialogTitle {
    height: 50px;
    padding: 0px 0px 0px 0px;
    background-color: linear-gradient( rgb(43, 136, 4),rgb(66, 149, 31)); 
    background: linear-gradient( rgb(43, 136, 4),rgb(66, 149, 31));
    color: white;
    line-height: 50px;
    text-align: center;
}
  
.dialogContent {
    //lign-items: center;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    margin: 25px 25px 25px 25px;
}

.dialogContentInput{
    width: 400px;
}

.dialogContent__tab {
    justify-content: center;
    align-items: center;
    display: flex;
}

.dialogContent__tabDetail {
    padding: 25px 25px 25px 25px;
}

.dialogContent__cdmJsonTab {
    margin: 25px 25px 25px 25px;
}

.downloadIcon {
    height: 50px;
    width: 50px;
    margin: 0px 0px 25px 0px;
}

.dialogContent__jsonContent {
    border: 1px solid;
    border-radius: 25px;
}

.dialogContent__bottomButton {
    display: flex;
    align-items: right;
    justify-content: right;
    font-weight: bold;
    margin: 0px 25px 25px 25px;
}