.dashboard {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2size {
  // color: linear-gradient(rgb(43, 136, 4),transparent);
  font-size: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.h3size {
  // color: linear-gradient(rgb(43, 136, 4),transparent);
  font-size: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titleStyle {
  // color: linear-gradient(rgb(43, 136, 4),transparent);
  text-align: center;
  font-size: 5vh;
  height: 100%;
  width: 100%;
  margin: auto;
  // padding: 10px;
}