.barParent {
    margin: 0px 0px 25px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgb(43, 136, 4),rgb(66, 149, 31));
}

.barParentNavEth {
    margin: 0 0px 2%;
    width: 100%;
    height: 40px;
    display:flex;
    align-items: flex-end;
}